body {
  margin: 0;
  min-height: 100vh;

  background-image: url("https://www.techicy.com/wp-content/uploads/2025/12/Happy-New-Year-HD-Wallpaper-for-2026-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
h1{
   max-width: 100%;
}

.secondImg , .codingImg , .Third{
    width: 600px;
    height: 500px;
}
.title{
    font-size: 10px;
    color: black;
    font-weight: 900;
}
