
 <body>
    <div class="container-fluid">
  <h1 class="d-flex justify-content-center align-items-center bg-dark text-white "><i>{{title}}</i></h1>
 
<mat-tab-group animationDuration="2000ms">
  <mat-tab label="First"  class="title">
    <div class="d-flex justify-content-center align-items-center mt-5">
         <img src="https://cdntc.mpanchang.com/mpnc/images/remedy/happy-newyear.jpg" class="Third" alt="">
     
    </div>
  </mat-tab>
  <mat-tab label="Second">
    <div class="d-flex justify-content-center align-items-center mt-5">
           <img src="../assets/images/newYear2k26.png"  class="codingImg" alt="">
    </div>
  </mat-tab>
  <mat-tab label="Third">
    <div class="d-flex justify-content-center align-items-center mt-5">
      <img src="https://i.pinimg.com/736x/ca/7f/09/ca7f0985fe49bfe2dcaa98965cab6691.jpg" alt="">
    </div>
  </mat-tab>
</mat-tab-group> 
</div>
 </body>
